<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p>We are Double Down. Our company focuses on helping you donate while 
    providing you with the proper tax information.
    </p>
</div>